body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:1920px;
  height:84px;
  display:flex;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:190px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:190px;
  display:flex;
  opacity:0.52;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:54px;
  width:375px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:401px;
  width:676px;
  height:299px;
  display:flex;
}
#u165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#420080;
  text-align:center;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:307px;
  width:802px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#420080;
  text-align:center;
}
#u169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:190px;
  height:190px;
  display:flex;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:0px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:730px;
  width:300px;
  height:170px;
}
#u172_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u172_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u172_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u157.a {
  width:1080px;
}
#u157_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157.a {
  width:1080px;
}
#u157_text.a {
}
#u157 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u158.a {
  width:1080px;
}
#u158_img.a {
  width:1080px;
}
#u158.a {
  width:1080px;
}
#u158_text.a {
}
#u158 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u159.a {
  left:213px;
  top:57px;
}
#u159_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u159.a {
  left:213px;
  top:57px;
}
#u159_text.a {
}
#u159 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u160.a {
  left:88px;
  width:167px;
}
#u160_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u160.a {
  left:88px;
  width:167px;
}
#u160_text.a {
}
#u160 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u161.a {
  left:255px;
  width:171px;
}
#u161_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u161.a {
  left:255px;
  width:171px;
}
#u161_text.a {
}
#u161 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u162.a {
  left:426px;
  width:172px;
}
#u162_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u162.a {
  left:426px;
  width:172px;
}
#u162_text.a {
}
#u162 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u163.a {
  left:598px;
  width:182px;
}
#u163_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u163.a {
  left:598px;
  width:182px;
}
#u163_text.a {
}
#u163 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u164.a {
  left:780px;
  width:180px;
}
#u164_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u164.a {
  left:780px;
  width:180px;
}
#u164_text.a {
}
#u164 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u165.a {
  left:202px;
  top:386px;
}
#u165_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165.a {
  left:202px;
  top:386px;
}
#u165_text.a {
}
#u165 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u169.a {
  left:139px;
  top:299px;
}
#u169_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#420080;
  text-align:center;
}
#u169.a {
  left:139px;
  top:299px;
}
#u169_text.a {
}
#u169 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u170.a {
  left:12px;
}
#u170_img.a {
}
#u170.a {
  left:12px;
}
#u170_text.a {
}
#u170 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u171.a {
  left:540px;
  top:18px;
}
#u171_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u171.a {
  left:540px;
  top:18px;
}
#u171_text.a {
}
#u171 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u172.a {
  border-width:0px;
  position:absolute;
  left:362px;
  top:782px;
  width:300px;
  height:170px;
}
#u172_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
