body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:1920px;
  height:84px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:190px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:190px;
  display:flex;
  opacity:0.52;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:54px;
  width:375px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:282px;
  width:910px;
  height:683px;
}
#u268_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:683px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:683px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:683px;
  display:flex;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:683px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u268_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:683px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:731px;
  height:683px;
  display:flex;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:683px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u268_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:683px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:683px;
  display:flex;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:-433px;
  top:-282px;
  width:190px;
  height:190px;
  display:flex;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:683px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u268_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:683px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:772px;
  height:683px;
  display:flex;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:190px;
  height:190px;
  display:flex;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:730px;
  width:300px;
  height:170px;
}
#u275_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u275_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u275_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u260.a {
  width:1080px;
}
#u260_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260.a {
  width:1080px;
}
#u260_text.a {
}
#u260 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u261.a {
  width:1080px;
}
#u261_img.a {
  width:1080px;
}
#u261.a {
  width:1080px;
}
#u261_text.a {
}
#u261 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u262.a {
  left:199px;
  top:57px;
}
#u262_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u262.a {
  left:199px;
  top:57px;
}
#u262_text.a {
}
#u262 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u263.a {
  left:115px;
  width:167px;
}
#u263_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u263.a {
  left:115px;
  width:167px;
}
#u263_text.a {
}
#u263 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u264.a {
  left:282px;
  width:163px;
}
#u264_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u264.a {
  left:282px;
  width:163px;
}
#u264_text.a {
}
#u264 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u265.a {
  left:445px;
  width:167px;
}
#u265_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u265.a {
  left:445px;
  width:167px;
}
#u265_text.a {
}
#u265 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u266.a {
  left:612px;
  width:164px;
}
#u266_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u266.a {
  left:612px;
  width:164px;
}
#u266_text.a {
}
#u266 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u267.a {
  left:776px;
  width:172px;
}
#u267_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u267.a {
  left:776px;
  width:172px;
}
#u267_text.a {
}
#u267 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u268.a {
  border-width:0px;
  position:absolute;
  left:85px;
  top:318px;
  width:910px;
  height:683px;
}
#u269.a {
}
#u269_img.a {
}
#u269.a {
}
#u269_text.a {
}
#u269 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u270.a {
}
#u270_img.a {
}
#u270.a {
}
#u270_text.a {
}
#u270 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u271.a {
}
#u271_img.a {
}
#u271.a {
}
#u271_text.a {
}
#u271 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u272.a {
}
#u272_img.a {
}
#u272.a {
}
#u272_text.a {
}
#u272 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u273.a {
}
#u273_img.a {
}
#u273.a {
}
#u273_text.a {
}
#u273 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u268_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268_state3.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u274.a {
  left:9px;
}
#u274_img.a {
}
#u274.a {
  left:9px;
}
#u274_text.a {
}
#u274 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u275.a {
  border-width:0px;
  position:absolute;
  left:775px;
  top:730px;
  width:300px;
  height:170px;
}
#u275_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
