body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:1920px;
  height:84px;
  display:flex;
}
#u317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:190px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:190px;
  display:flex;
  opacity:0.52;
}
#u318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:54px;
  width:375px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u319 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:190px;
  width:229px;
  height:84px;
  display:flex;
  font-size:25px;
  color:#FFFFFF;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:190px;
  height:190px;
  display:flex;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#420080;
  text-align:center;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:338px;
  width:802px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#420080;
  text-align:center;
}
#u326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1586px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  text-align:center;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:498px;
  width:1586px;
  height:68px;
  display:flex;
  font-size:30px;
  text-align:center;
}
#u327 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#420080;
  text-align:center;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:651px;
  width:802px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#420080;
  text-align:center;
}
#u328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:571px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:870px;
  width:590px;
  height:571px;
  display:flex;
}
#u329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:571px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:870px;
  width:578px;
  height:571px;
  display:flex;
}
#u330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:571px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:870px;
  width:575px;
  height:571px;
  display:flex;
}
#u331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1724px;
  height:970px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1516px;
  width:1724px;
  height:970px;
  display:flex;
}
#u332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1724px;
  height:1147px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:2541px;
  width:1724px;
  height:1147px;
  display:flex;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1725px;
  height:1293px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:3737px;
  width:1725px;
  height:1293px;
  display:flex;
}
#u334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1724px;
  height:1181px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:5125px;
  width:1724px;
  height:1181px;
  display:flex;
}
#u335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u317.a {
  width:1080px;
}
#u317_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317.a {
  width:1080px;
}
#u317_text.a {
}
#u317 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u318.a {
  width:1080px;
}
#u318_img.a {
  width:1080px;
}
#u318.a {
  width:1080px;
}
#u318_text.a {
}
#u318 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u319.a {
  left:199px;
  top:57px;
}
#u319_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#420080;
  text-align:center;
}
#u319.a {
  left:199px;
  top:57px;
}
#u319_text.a {
}
#u319 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u320.a {
  left:115px;
  width:167px;
}
#u320_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u320.a {
  left:115px;
  width:167px;
}
#u320_text.a {
}
#u320 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u321.a {
  left:282px;
  width:163px;
}
#u321_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u321.a {
  left:282px;
  width:163px;
}
#u321_text.a {
}
#u321 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u322.a {
  left:445px;
  width:167px;
}
#u322_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u322.a {
  left:445px;
  width:167px;
}
#u322_text.a {
}
#u322 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u323.a {
  left:612px;
  width:164px;
}
#u323_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u323.a {
  left:612px;
  width:164px;
}
#u323_text.a {
}
#u323 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u324.a {
  left:776px;
  width:172px;
}
#u324_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:84px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u324.a {
  left:776px;
  width:172px;
}
#u324_text.a {
}
#u324 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u325.a {
  left:9px;
}
#u325_img.a {
}
#u325.a {
  left:9px;
}
#u325_text.a {
}
#u325 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u326.a {
  left:128px;
  top:301px;
}
#u326_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#420080;
  text-align:center;
}
#u326.a {
  left:128px;
  top:301px;
}
#u326_text.a {
}
#u326 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u327.a {
  left:54px;
  top:381px;
  width:960px;
  height:102px;
}
#u327_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  text-align:center;
}
#u327.a {
  left:54px;
  top:381px;
  width:960px;
  height:102px;
}
#u327_text.a {
}
#u327 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u328.a {
  left:133px;
  top:514px;
}
#u328_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#420080;
  text-align:center;
}
#u328.a {
  left:133px;
  top:514px;
}
#u328_text.a {
}
#u328 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u329.a {
  left:234px;
  top:614px;
}
#u329_img.a {
}
#u329.a {
  left:234px;
  top:614px;
}
#u329_text.a {
}
#u329 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u330.a {
  left:234px;
  top:1233px;
  width:590px;
  height:583px;
}
#u330_img.a {
  width:590px;
  height:583px;
}
#u330.a {
  left:234px;
  top:1233px;
  width:590px;
  height:583px;
}
#u330_text.a {
}
#u330 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u331.a {
  left:234px;
  top:1874px;
  width:590px;
  height:586px;
}
#u331_img.a {
  width:590px;
  height:586px;
}
#u331.a {
  left:234px;
  top:1874px;
  width:590px;
  height:586px;
}
#u331_text.a {
}
#u331 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u332.a {
  left:25px;
  top:2496px;
  width:1030px;
  height:580px;
}
#u332_img.a {
  width:1030px;
  height:580px;
}
#u332.a {
  left:25px;
  top:2496px;
  width:1030px;
  height:580px;
}
#u332_text.a {
}
#u332 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u333.a {
  left:25px;
  top:3132px;
  width:1030px;
  height:685px;
}
#u333_img.a {
  width:1030px;
  height:685px;
}
#u333.a {
  left:25px;
  top:3132px;
  width:1030px;
  height:685px;
}
#u333_text.a {
}
#u333 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u334.a {
  left:25px;
  top:3860px;
  width:1030px;
  height:772px;
}
#u334_img.a {
  width:1030px;
  height:772px;
}
#u334.a {
  left:25px;
  top:3860px;
  width:1030px;
  height:772px;
}
#u334_text.a {
}
#u334 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u335.a {
  left:25px;
  top:4666px;
  width:1030px;
  height:705px;
}
#u335_img.a {
  width:1030px;
  height:705px;
}
#u335.a {
  left:25px;
  top:4666px;
  width:1030px;
  height:705px;
}
#u335_text.a {
}
#u335 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
